div {
    width: 300px;
    padding: 180px;
    height: 10px;
    border: 1px solid black;
}
p.a {
    font-style: italic;
    text-align: left;
    left: 20px;
    top: 20px;
    position: absolute;
    margin: 0px;
}
p.b {
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 50px;
}
